<br>
<h1>Welcome {{user.username}}</h1>
<br>
<h4>Your kcal needs: {{user.GET}}</h4>
<br>
{{#each user.favorites}}

    <div class="wrap">

<img style=""src={{this.image}} width="500" height="500"/>

<div class="flex" style="flex-direction:column">

<h4 >{{this.label}}</h4>
<br><br>
<p><button class="btn" style="border-color:black;  border-radius:40px;" ><a href="{{this.url}}" style="text-decoration:none; color:black; underline:none" target="_blank">Source recipe</a></button></p>
<p></p><br><br>
<tbody>Total calories: {{this.calories}} kcal<br>
    Total time: {{this.totalTime}} min</tbody>
<br><br>
<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{this._id}}>
    <button type="submit" class="btn btn-danger btn-close" aria-label="Delete favorite"></button>
</form>
</div>

</div>
{{/each}}

<img src="/images/277ab971-f79b-446a-ad93-06cb343ba25c.jpg"/>


