<br>
<h1>Welcome {{user.username}}</h1>
<br>
<h4>Your kcal needs: {{user.GET}}</h4>
<br>
{{#each user.favorites}}
<div class="color shadow">
<h4 style="background-color:rgb(109, 197, 200); border-radius: 40px;margin:0 40%; padding: 1% 0%">{{this.label}}</h4>
    <div class="wrap">

<img style="border-radius:40px"src={{this.image}} width="200" height="200"/>
<p><button class="btn btn-primary" ><a href="{{this.url}}" style="text-decoration:none; color:white; underline:none" target="_blank">Source recipe</a></button></p>
<p></p>
<tbody>Total calories: {{this.calories}} kcal<br>
Total time: {{this.totalTime}} min</tbody>

<form action = "/delete-favorite" method="POST">
    <input type="hidden" name="id" value={{this._id}}>
    <button type="submit" class="btn btn-danger btn-close" aria-label="Delete favorite"></button>
</form>

</div>
</div>
{{/each}}

<img src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khv+Hqh5KnBvOwXs1M3EMoAJtliUqh...Ns9...Q7"/>


