
<body><br>
<h2 style=" ;">Recipes</h2>
<p>You can only choose one of each page, choose wisely</p>
<br>
{{#each recipes1}}

{{#if this.recipe.url}}

<body class="recipes">
    <div class="color">

<div class="flex">

{{#recipe}}
<img style=""src={{this.image}} width="500" height="500"/>
{{/recipe}}

<div class="flex" style="flex-direction:column">
    <h4>{{this.recipe.label}}</h4>
    <br><br>
<p><button class="btn" style="border-color:black;  border-radius:40px;" ><a href="{{this.recipe.url}}" style="text-decoration:none; color:black" target="_blank">Source recipe</a></button></p>
<div style="background-color: ;">
    <br><br>
{{#each this.recipe.ingredientLines}}

<tbody style="font-weight:700">Ingredients:</tbody>
<br>

<tbody>- {{.}}</tbody>
{{/each}}</div>
<p></p>
<tbody>Total kcal: {{this.recipe.calories}}</tbody>
<br>
<tbody>Total time: {{this.recipe.totalTime}} min</tbody>
</body>
<br><br>

<form action = "/add-favorite" method="POST">
          
          <input type="hidden" name="label" value="{{this.recipe.label}}">
          <input type="hidden" name="image" value={{this.recipe.image}}>
          <input type="hidden" name="url" value={{this.recipe.url}}>
          <input type="hidden" name="ingredientLines" value="{{this.recipe.ingredientLines}}">
          <input type="hidden" name="calories" value={{this.recipe.calories}}>
          <input type="hidden" name="totalTime" value={{this.recipe.totalTime}}>
          <input type="hidden" name="apiId" value={{this.recipe.uri}}>

          <button type="submit" class="btn" style="border-color:black;  border-radius:40px;">Add to favorites</button>
</form>
</div></div>
</div>
          <br>
{{/if}}
{{/each}}
</body>